.exercise-details {
  img {
    max-width: 100%;
  }
  .module-details {
    padding-top: 40px;
    .walk-through-card {
      justify-content: space-around;
      padding: 25px 0px;
      background-color: #f3f9f8;
      border: 1px solid #e2eeec;
      border-radius: 20px;
      h5 {
        font-size: 25px;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #252525;
      }
    }
  }
}
